<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Taskalu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Taskalu.Properties.Settings>
      <setting name="Language_Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="Database_Folder" serializeAs="String">
        <value />
      </setting>
      <setting name="Work_Folder" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="WindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DescriptionHeight" serializeAs="String">
        <value>-1</value>
      </setting>
    </Taskalu.Properties.Settings>
  </userSettings>
</configuration>